@media screen and (min-width: $desktop-breakpoints) {
  .business {
    display: flex;
    margin-left: -30px;

    .business__item {
      position: relative;
      margin-left: 30px;
      flex-basis: calc((100% - 3 * 30px) / 3);
    }
    .business__app {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 370px;
      height: 70px;
      background: rgba(47, 48, 58, 0.8);
    }
    .business__title {
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $primery-white-color;
    }
  }
  .animate__bounceInRight {
    animation-name: bounceInRight;
    animation-duration: 2500ms;
    animation-timing-function: $timing-function;
    animation-delay: 150ms;
    animation-direction: alternate;
    animation-iteration-count: 3;
  }
}
