.contacts {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    justify-content: center;
  }
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.contacts__link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $secondary-text-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
