.page-header {
  border-bottom: 1px solid $bg-color;
  border-bottom: 1px solid $bg-color;
}
.page-header__main {
  display: flex;
  align-items: center;
}

.page-header__navigation {
  display: flex;
  align-items: center;
}

.page-header__logo {
  margin-right: 94px;
  padding-top: 24px;
  padding-bottom: 25px;
}
