.page-header {
  position: relative;
  border-bottom: 1px solid $bg-color;

  @media screen and (min-width: $tablet-breakpoints) {
    position: static;
  }
}

.page-header__logo {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: $tablet-breakpoints) {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: $desktop-breakpoints) {
    margin-right: 94px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.page-header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: $tablet-breakpoints) {
    display: flex;
    align-items: center;
  }
}

.page-header__main {
  @media screen and (min-width: $tablet-breakpoints) {
    display: flex;
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  z-index: 5;
  background-color: $primery-white-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  &.is-open {
    display: block;
  }
}

@media screen and (min-width: $tablet-breakpoints) {
  .menu-button,
  .menu-container.is-open {
    display: none;
  }
}

.menu-container__list {
  margin-bottom: 302px;
}
.menu-container__list {
  @media screen and (min-width: $tablet-breakpoints) {
    display: flex;
  }
}
.menu-container__item:not(:last-child) {
  margin-bottom: 32px;
}
.menu-container__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color: $primary-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
@media screen and (max-width: 767px) {
  .mobile-social {
    display: inline-flex;

    &__link {
      display: inline-block;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.02em;
      color: #2196f3;
    }
    &__item:not(:last-child):after {
      content: '';
      border: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
      margin-left: 10px;
      margin-right: 10px;
      background-image: url('../../images/line.svg');
    }
  }
}
@media screen and (max-width: 767px) {
  .contacts-mobile {
    margin-bottom: 64px;
  }
  .contacts-mobile__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .contacts-mobile__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $secondary-text-color;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
