.page-header {
  min-width: 480px;
  border-bottom: 1px solid $bg-color;
  border-bottom: 1px solid $bg-color;
}
.page-header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: $tablet-breakpoints) {
  .page-header {
    min-width: 768px;
  }
  .page-header__main {
    display: flex;
  }
  .page-header__navigation {
    display: flex;
    align-items: center;
  }
  .page-header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: $desktop-breakpoints) {
  .page-header {
    min-width: 1200px;
  }
  .page-header__logo {
    margin-right: 94px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
