.logo {
  display: block;
}
.logo__span {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;

  &--accent {
    color: $accent-color;
  }
  &--primary {
    color: $primary-text-color;
  }
}
